html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: beige;
}

main {
    flex: 1;
}

footer {
<<<<<<< HEAD
    background: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

=======
  background: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.mapa {
    aspect-ratio: 2/1;
}
.producto {
    transition: transform 0.3s ease-in-out;
}
.producto:hover{
    transform: scale(1.05);
}
.imagenes {
    display: flex;
    justify-content: center;
}
.divcontacto{
    display: flex;
    align-items: center;
}
>>>>>>> c4c3b032da9f8159da3430ab1751a095fd42fcfb
textarea {
    resize: none;
}

iframe {
    border: 1px solid black;
}

.imagenes img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}

article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mapa {
    aspect-ratio: 2/1;
}

.producto {
    transition: transform 0.3s ease-in-out;
}

.imagenes {
    display: flex;
    justify-content: center;
}

.divcontacto {
    display: flex;
    align-items: center;
}
