html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: beige;
}

main {
    flex: 1;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

textarea {
    resize: none;
}

iframe {
    border: 1px solid black;
}

.imagenes img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}

article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mapa {
    aspect-ratio: 2/1;
}

.producto {
    transition: transform 0.3s ease-in-out;
}

.imagenes {
    display: flex;
    justify-content: center;
}

.divcontacto {
    display: flex;
    align-items: center;
}
